body {
    font-family: 'Nunito Sans', sans-serif;
}
h1{
    color: red;
    font-weight: 900;
}
p{
    color: rgb(250, 114, 193);
}
q{
    color: slateblue;
}
li{
    color: rgb(25, 116, 72);
}
a{
color: teal;
}